.ShoppingCartProductList {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 500px;
    overflow-x: auto;
}

.ShoppingCartProductListItem {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 16px;
    border: 1px solid #ebebeb;
    border-bottom: none;
    width: 300px;
    flex-wrap: wrap;
}

.ShoppingCartProductListItemMainPart {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ShoppingCartProductListButtons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 150px;
}

.ShoppingCartProductListProductName{
    width: 80%;
}
