.ShoppingCartProductList {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 16px;
    height: calc(100vh - 170px);
}

.ShoppingCartProductListItem:last-child {
    border-bottom: 1px solid #ebebeb;
}

.ShoppingCartProductListItem {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 16px;
    border: 1px solid #ebebeb;
    border-bottom: none;
    width: 100%;
    flex-wrap: wrap;
}

.ShoppingCartProductListItemMainPart {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ShoppingCartProductListButtons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.ShoppingCartProductListButtons .Select {
    margin-bottom: 0;
    width: 70%;
}

.ShoppingCartProductListButtons .QuantityControl {
    margin-bottom: 0;
    margin-top: 0;
}

.ShoppingCartProductListProductName{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    text-align: left;
}

.ShoppingCartProductListProductName div{
    padding: 10px;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */

    .ShoppingCartProductListItem {
        width: 550px;
    }

    .ShoppingCartProductList {
        padding: 0;
        height: calc(100vh - 140px);
    }
}
