.ShoppingCart {
    position: fixed;
    background-color: #ffffff;
    z-index: 9990;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.ShoppingCart .shoppingCartButtons {
    display: flex;
    padding: 16px;
    border-top: none;
}

.ShoppingCart .shoppingCartButtons button:first-child {
    border-right: none;
}

.ShoppingCart .total {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 16px;
    border: 1px solid #ebebeb;
    flex-direction: column;
}

.ShoppingCart .deliveryType {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ebebeb;
    width: 100%;
    border-top: none;
    padding: 16px;
}

.ShoppingCart .deliveryType label {
    margin-bottom: 16px;
}

.ShoppingCart .deliveryType .deliverySelect {
    width: 300px;
    padding: 16px;
    border: 1px solid #ebebeb;
}

.content {
    width: 100%;
    height: calc(100% - 135px);
    overflow: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.ShoppingCart .navigationButtons {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #ffffff;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */

    .content {
        width: 600px;
    }

    .ShoppingCart .deliveryType {
        width: 600px;
        padding-right: 0;
        padding-left: 0;
    }

    .ShoppingCart .total {
        width: 600px;
        padding-right: 0;
        padding-left: 0;
    }

    .ShoppingCart .shoppingCartButtons {
        width: 600px;
        padding-right: 0;
        padding-left: 0;
    }

    .ShoppingCart .navigationButtons {
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

