.ProductPreview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    z-index: 9990;
    background-color: #ffffff;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.ProductPreviewMenu {
    display: flex;
    flex: 100%;
    padding: 1rem;
}

.BackButton{
    border: 1px solid;
    width: 19rem;
}

.ButtonWrapperBack{
    margin-left: 9%;
}

.ProductPreviewContent {
    padding: 32px;
    width: 100%;
    text-align: center;
}

.ProductPreview svg {
    margin-right: 16px;
}

.ButtonAddToCart{
    margin: 5px;
    display: flex;
    justify-content: center;
    border: 1px solid;
}

.ProductDesc{
    margin: 5px;
}

.ProductMeasurments{
    margin: 5px;
    width: 97%;
}

.ProductPrice{
    color: #019e7f
}



@media only screen and (min-width: 768px) {
    /* For desktop: */
    .ProductPreviewContent {
        text-align: left;
        max-width: 500px;
    }

    .ProductPreview {
        justify-content: space-around;
    }
    .ProductPreviewBackButton{
        margin-left: 130px;
    }

    .ButtonWrapperBack{
        margin-left: 130px;
    }

    .BackButton{
        width: 24rem;
    }
}
