.BillingInformationForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.BillingInformationForm .item {
    width: 100%;
    border: 0.1rem solid #ebebeb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: none;
    padding-top: 16px;
    padding-bottom: 16px;
    border-right: none;
}

.BillingInformationForm .item:last-child {
    border-bottom: 0.1rem solid #ebebeb;
}

.BillingInformationForm .item label {
    margin-left: 16px;
}
.BillingInformationForm .item input {
    height: 30px;
    border: 0.1rem solid #c1c1c1;
    margin-right: 26px;
}


@media only screen and (min-width: 768px) {
    /* For desktop: */

    .BillingInformationForm {
        margin-top: 0;
    }

    .BillingInformationForm .item {
        border-right: 0.1rem solid #ebebeb;
    }

}
