.ShoppingCartFab {
    position: fixed;
    right: 0;
    top: 0;
    padding: 20px;
    background-color: #fff;
    border: 0.1rem solid #ebebeb;
    border-bottom-left-radius: 10px;
    z-index: 999;
}
