.Pagination {
  display: flex;
  flex: 1 0 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 95px;
  margin-top:  -100px;
}

.PaginationContainer {
  display: flex;
  width: 100%;
  max-width: 500px;
}

.PaginationContainer a {
  text-decoration: none;
  width: 100%;
}

.PaginationContainer:last-child {
  border-right: 0.1rem solid #ebebeb;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */

  .Pagination {
    margin-bottom: 0;
    margin-top: 0;
  }
}

