.Button button{
    height: 50px;
    background-color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #737070;
    padding: 8px;
}


.Button button:focus {
    outline: none;
}

.Button button:hover {
    cursor: pointer;
}
