.ImageGallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 32px;
}

.awssld {
    --slider-height-percentage: 60%;
    --slider-transition-duration: 200ms;
    --organic-arrow-thickness: 9px;
    --organic-arrow-border-radius: 0px;
    --organic-arrow-height: 40px;
    --organic-arrow-color: #538bd5;
    --control-button-width: 10%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --control-bullet-color: #2d5182;
    --control-bullet-active-color: #26456f;
    --loader-bar-color: #851515;
    --loader-bar-height: 6px;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .ImageGallery {
        max-width: 50%;
        flex-grow: 2;
    }
    /*.ImageGallery img {*/
    /*    min-width: 100%;*/
    /*}*/
}
