.App {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  text-align: center;
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
  cursor: pointer;
}
.ripple:hover {
  background: #dadadac4 radial-gradient(circle, transparent 1%, #f7f7f7 1%) center/15000%
}
.ripple:active {
  background-color: #c6c6c675;
  background-size: 100%;
  transition: background 0s;
}

.ripple-success {
  background-position: center;
  transition: background 0.8s;
}
.ripple-success:hover {
  background: #92c87d radial-gradient(circle, transparent 1%, #f7f7f7 1%) center/15000%
}
.ripple-success:active {
  background-color: #60b560;
  background-size: 100%;
  transition: background 0s;
}

.ripple-remove {
  background-position: center;
  transition: background 0.8s;
}
.ripple-remove:hover {
  background: #cb5757 radial-gradient(circle, transparent 1%, #f7f7f7 1%) center/15000%
}
.ripple-remove:active {
  background-color: #c13c3c;
  background-size: 100%;
  transition: background 0s;
}
