.Products {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 16px
}

@media only screen and (min-width: 768px) {
    /* For desktop: */

    .Products {
        width: 90%;
    }
}
